from discord.ext import commands

class example(commands.Cog):
    def __init__(self, bot):
        self.bot = bot

    @commands.Cog.listener()
    async def on_ready(self):
        print(f"{__name__} ready")

    @commands.command(description="description")
    async def ex(self, context):
        await context.send("Example")

def setup(bot):
    bot.add_cog(example(bot))
